<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin_role</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="/static/homepage/css/base.css"/>
    <link rel="stylesheet" href="/static/admin/css/base_admin.css">
    <link rel="stylesheet" href="/static/admin/css/main_posts.css"/>
</head>

<body>
<div class="main">
    <div th:replace="../fragments/admin/menu :: menu"></div>

    <div class="container">
        <div class="container__wrapper active">
            <div class="container__top">
                <div class="container__title">Quản lý Role</div>
                <div class="container__refresh-btn">
                    <i class="fa-solid fa-arrow-rotate-right"></i>
                </div>
            </div>

            <div class="container__action">
                <span>Tác vụ</span>
                <i class="fa-solid fa-angle-down container__action-icon"></i>
                <ul class="container__action-list box-shadow">
                    <li class="container__action-item">Duyệt bài</li>
                    <li class="container__action-item">Gỡ bài</li>
                    <li class="container__action-item">Xóa bài</li>

                </ul>
            </div>

            <table class="container__table">
                <tr class="container__table-row border-bottom-1px">
                    <th>STT</th>
                    <th>Tiêu đề</th>
                    <th>Thể loại</th>
                    <th>Tác giả</th>
                    <th>Ngày đăng</th>
                    <th class="container__table-status">Trạng thái</th>
                    <th></th>
                </tr>

                <tr th:id="${post.id}" class="container__table-row" th:each="post : ${model.listResult}">
                    <td th:text="${post.stt}">1</td>
                    <td th:text="${post.title}"></td>
                    <td th:if="${post.categoryDTO} != null" th:text="${post.categoryDTO.name}">Xã hội</td>
                    <td th:if="${post.categoryDTO} == null"></td>
                    <td th:text="${post.createdBy}">PhanVietdz</td>
                    <td th th:text="${post.dateString}">13/9/2002</td>
                    <td>
                        <i class="fa-solid fa-circle-check icon success" th:if="${post.isActive}"></i>
                        <i class="fa-solid fa-circle-check icon error" th:if="!${post.isActive}"></i>
                    </td>
                    <td>
                        <a th:href="@{'/quan-tri/bai-viet/'+ ${post.id}}" >
                            <i class="fa-solid fa-book-bookmark icon"></i>
                        </a>

                    </td>
                    <td class="container__table-select">
                        <input type="checkbox" class="container__table-input">
                    </td>
                </tr>



            </table>
            <button class="btn btn--animation container__confirm">Xác nhận</button>
            <div class="container__pagination">
                <button class="btn firstBtn">
                    <i class="fa-solid fa-angles-left container__pagination-icon"></i>
                </button>

                <button class="btn prevBtn">
                    <i class="fa-solid fa-angle-left container__pagination-icon"></i>
                </button>

                <ul class="container__pagination-lists">

                </ul>

                <button class="btn nextBtn">
                    <i class="fa-solid fa-angle-right container__pagination-icon"></i>
                </button>

                <button class="btn lastBtn">
                    <i class="fa-solid fa-angles-right container__pagination-icon"></i>
                </button>
                <input class="container__pagination__total-page" type="hidden" th:totalPage="${model.totalPage}" th:currentPage="${model.page}-1">
            </div>
        </div>
    </div>
</div>

</body>
<script src="/static/admin/JS/post_js.js"></script>
<script src="/static/admin/JS/pagination.js"></script>
<script>
    exercutePaginationRender.setUrl("/quan-tri/bai-viet?page=")
    var btnConfirm = document.querySelector('.container__confirm')
    btnConfirm.onclick = function (){
        var data = app.sendInfOfEachUser()
        console.log(data)
        if (data.status == 'Duyệt bài') {
            delete data.status;
            activePost(data);
            console.log(data)
        }
        if (data.status == 'Gỡ bài') {
            delete data.status;
            removePost(data);
            console.log(data)
        }
        if (data.status == 'Xóa bài') {
            delete data.status;
            deletePost(data.ids);
            console.log(data)
        }


        // delete data.status
        // console.log(data)
    }
    function activePost(data, callback){
        var options = {
            method : 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body : JSON.stringify(data)
        };
        fetch("/api/admin/post/active", options)
            .then(function (response){
                console.log(response)
                window.location.href = "/quan-tri/bai-viet"
                return response.json()
            })
            .then(callback)
    }

    function removePost(data, callback){
        var options = {
            method : 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body : JSON.stringify(data)
        };
        fetch("/api/post/remove", options)
            .then(function (response){
                console.log(response)
                window.location.href = "/quan-tri/bai-viet"
                return response.json()
            })
            .then(callback)
    }

    function deletePost(data, callback){
        var options = {
            method : 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            body : JSON.stringify(data)
        };
        fetch("/api/post", options)
            .then(function (response){
                console.log(response)
                window.location.href = "/quan-tri/bai-viet"
                return response.json()
            })
            .then(callback)
    }
</script>
</html>