<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>write_manage</title>
    <meta charset="ult-f8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="/static/admin/css/write_manage.css">
    <link rel="stylesheet" href="/static/admin/css/sidebase.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <div th:replace="../fragments/admin/menu :: menu"></div>


    <div class="content-right">
        <div class="return">
            <a th:href="@{/quan-tri/bai-viet?page=1&limit=5}"> <i class="fas fa-arrow-left return_icon"></i></a>
        </div>
        <div class="title">Quản lý bài viết</div>
        <div class="writer">
            <a href=""><img id="avatar" src="/static/admin/img/meo.jpg" alt="anh dai dien"></a>
            <p id="name" th:text="${author.userName}" th:if="${author} != null"><a href="">Meomap</a></p>
            <p id="name" th:if="${author} == null"><a href="">Meomap</a></p>
        </div>
        <div class="theme" th:text="${post.categoryDTO.name}" th:if="${post.categoryDTO} != null">
            <a href="">Quan điểm</a>
        </div>
        <div class="theme" th:if="${post.categoryDTO} == null">
            <a href="">Quan điểm</a>
        </div>
        <h1 th:text="${post.title} ">Những điều được trong công việc từ The Pursuit of Happiness</h1>
        <h5 th:text="${post.shortDescription}"></h5>
        <div class="content-read">
            <div class="content">
            </div>
            <div id="date" th:text="${post.dateString}">
                <29 /04/2022>
            </div>

            <div class="agree">
                <button th:id="${post.id}" name="btnConfirm">
                    DUYỆT BÀI
                </button>
            </div>
        </div>
        <input type="hidden" th:value="${post.content}" name="post_content">
    </div>
</body>
<script>
    var content = document.querySelector('input[name = "post_content"]').value
    var contentTag = document.querySelector('.content')
    var btnConfirm = document.querySelector("button[name = 'btnConfirm']")
    contentTag.innerHTML = content
    btnConfirm.onclick = function (){
        var id = btnConfirm.getAttribute('id')
        var ids = []
        ids.push(id)
        var data = {
            ids : ids
        }
        activePost(data)
    }

    function activePost(data, callback){
        var options = {
            method : 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body : JSON.stringify(data)
        };
        fetch("http://localhost:8080/api/admin/post/active", options)
            .then(function (response){
                console.log(response)
                window.location.href = "/quan-tri/bai-viet"
                return response.json()
            })
            .then(callback)
    }
</script>

</html>